body{
	z-index:-101;
}

#video {
	position:fixed;
	right:0;
	bottom:0;
	min-height:100%;
	min-width:100%;
	width:auto;
	height:auto;
	z-index:-100;
}

h2 {
	font-weight:normal;
	font-family:monospace;
}

#header ,#navbar{
	background-color:#3B6B9A;
}
#navbar, #container {
	max-width:1200px;
	margin:auto;
}

@media screen and (max-width:1350px){
	#navbar, #container { max-width:90%}
}
#navbar a{
	color:#fff !important;
}

#navbar a:hover {
	background-color:#22598E !important;
    -webkit-animation: fadeNavItem 1s;
	-webkit-animation-fill-mode: forwards;
	animation: fadeNavItem 2s;
}

#navbar label:hover {
	-webkit-animation: fadeNavItem 1s;
	-webkit-animation-fill-mode: forwards;
	animation: fadeNavItem 2s;
}

option{
	color:#8BAFD2;
}

label {
	padding-right:20px;
}
a select{
	min-width:100px;
}

#container {
	padding-top:40px;
	background:rgba(255,255,255,0.5);
}

.quote-block {
	border-bottom:1px solid #bdbdbd;
}

.quote-author {
	margin:auto;
	max-width:1000px;
}

.quote-time {
	margin:auto;
	max-width:1000px;
	padding-bottom:30px;
}

.fancy {
	font-family: 'Libre Baskerville', monospace;
	font-style: italic;
}

.bold {
	font-weight: bold;
}

@-webkit-keyframes fadeNavItem{
	from {
		color:#fff;
	}
	to {
		color:#8BAFD2;
	}
}

@keyframes fadeNavItem{
	from {
		color:#fff;
	}
	to {
		color:#8BAFD2;
	}
}
